<div class="icon_div">
  <%= link_to image_tag("Twitter_Logo_White_On_Blue.svg"), '/auth/twitter' %><br>
</div>
<div class="icon_div">
  <%= link_to image_tag("FB-fLogo_2017.svg"), '/auth/facebook' %><br>
</div>
<%= link_to 'Signup', new_user_path %><br>
<%= link_to 'Login', new_session_path %><br>
